{% extends "base.html" %}
{% block title %}edit{% endblock %}
{% block content %}
<div>
    <script src="{{ url_for('static', filename='editor.js') }}"></script>

    <button onclick="createNewSnippet()">Save as</button>
    <button onclick="saveSnippet({{ snippet.id }})">Save</button>
    <button onclick="deleteSnippet({{ snippet.id }})">Delete</button>
    
    <input name="name" type="text" value="{% if snippet %}{{ snippet.name }}{% endif %}">
    <textarea name="source" spellcheck="false" style="width: 700px; height: 600px;">{% if snippet %}{{ snippet.source }}{% endif %}</textarea>
</div>
{% endblock %}
