{% extends "base.html" %}
{% block title %}list{% endblock %}
{% block content %}
    {% if snippets %}
        <div class="snippets-list m-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Snippet</th>
                        <th scope="col">Author</th>
                        <th scope="col">Emulator</th>
                    </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                    <tr>
                        <td><a href="{{ url_for('snippets.snippet', id=snippet.id) }}">{{ snippet.name }}</a></td>
                        <td>{{ snippet.author.name }}</td>
                        <td><a href="{{ url_for('snippets.run_snippet', id=snippet.id ) }}">Run</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="empty-snippets-list">Пусто.</div>
    {% endif %}
{% endblock %}
